<html th:replace="~{contentBase :: flexiblelayout(~{::contentBody}, ~{::title})}" xmlns:th="http://www.thymeleaf.org">


<title class="bg-light">
    사용자 관리
</title>

<contentBody class="container-fluid">
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="검색할 서비스의 이름을 입력하세요.">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                <img src="/images/Search.png" class="img-fluid rounded" style="height:20px;" alt="Search">
            </button>
        </div>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">계정</th>
            <th scope="col">등록일</th>
            <th scope="col">최근활동일</th>
            <th scope="col">서비스 수</th>
            <th scope="col">control</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th th:text="${user.name}"scope="row"></th>
            <td th:each="${user.date}">서비스명</td>
            <td th:each="${user.latestDate}">상태</td>
            <td th:each="${user.getServiceCount()}">버전</td>
            <td>control</td>
        </tr>
        </tbody>
    </table>
</contentBody>