<html th:replace="~{contentBase :: flexiblelayout(~{::contentBody}, ~{::title})}" xmlns:th="http://www.thymeleaf.org">
<title>배포 실패</title>

<contentBody>
  <div class="text-center mt-5">
    <div>
      <img src="/images/failIcon.png" class="img-fluid rounded" width="200" height="300" alt="deploySuccessLogo">
    </div>
    <h3> 배포에 실패했습니다.</h3>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-3">
      <a href="/customer/overview" class="col-lg-2 btn btn-light btn-outline-secondary btn-sm shadow-sm" type="button">
        <span class="text-dark">홈으로 돌아가기</span>
      </a>
    </div>
  </div>
</contentBody>